/* 
This is a CSS comment
Shorcut for adding the comment is command/ctrl + / 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #aad4cf;
}

header h1 {
    position: absolute;
    line-height: 500px;
    color: white;
    padding-left: 20%;
    font-size: 60px;
}

header img {
    width: 1000px;
    height: 350px;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 3%;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 2em;
    width: 280px;
    box-sizing: border-box;
}

nav ul li a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

img {
    width: 250px;
    height: 250px;
    float: left;
    padding: 10px;
}

p {
    font-size: 18px;
    padding: 11px;
}

section ul li {
    font-size: 18px;
}

h2,
h3 {
    font-size: 30px;
    padding-left: 10px;
}

h4 {
    font-size: 30px;
    margin-top: 0%;
}

h5 {
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 0%;
}

.container1 label {
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
    width: auto;
    height: 20px;
    padding: 20px;
}

.container1 input {
    display: inline-block;
    width: 20px;
    height: 15px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 120px;
}

input {
    width: 100%;
}

form {
    background-color: #D4E9E7;
    width: 900px;
    height: 500px;
    border: 4px solid black;
    padding: 20px;
    margin: 20px;
    font-size: larger;
}

.container {
    /* create a container containing everything inside the body tag */
    max-width: 1000px;
    margin: 0 auto;
    background-color: #D4E9E7;
}