/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    margin: 0 auto;
}


/*************
Hover/focus
***************/


/**********
Mobile Styles
************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/************ Header *************/
.main-head {
    padding-top: 1em;
    margin: 0 auto;
    background-color: #222;
    max-width: 1200px;
}

.nav-list {
    text-align: center;
    font-size: larger;
}

.nav-list li {
    padding: 2em;
}

nav ul li:nth-child(2) a {
    color: #222;
    background-color: #c78c06;
}

nav ul img {
    background-color: #c78c06;
    margin-right: 1em;
    margin-left: 1.2em;
    padding-right: 12em;
    padding-bottom: 10em;
    margin-bottom: -5.5em;
}

.main-nav a {
    text-decoration: none;
    color: #c78c06;
}

.form {
    text-align: center;
    padding: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

form h1 {
    font-size: 3em;
}

.form button {
    color: #c78c06;
    border-color: #c78c06;
    background-color: #222;
    padding: 15px 20px;
}

.form input {
    padding: 15px 20px;
    width: 80%;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 18px 28px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.star {
    background-image: url(../images/main-banner.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.home h1,
p {
    list-style: none;
    width: 90%;
    padding: 1em;
    box-sizing: border-box;
    color: #222;
    text-decoration: none;
}


.home h1 {
    font-size: 6em;
    color: white;
    padding-top: 2.5em;
    padding-left: 0.3em;
}

.home p {
    font-size: 16px;
    color: white;
    font-size: 1em;
    margin-right: 3em;
    padding-left: 2em;
}

.homestar {
    display: inline-block;
    padding: 1em 1em 1em;
    margin: 1em 1em 8.3em;
    background-color: #c78c06;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.digital h3,
.marketing h3,
.video h3,
.web h3,
.print h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.digital p,
.marketing p,
.video p,
.web p,
.print p {
    margin-top: 20px;
    font-size: 16px;
    color: #222;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
}



.about {
    max-width: 1200px;
    background-color: #ffe6ac;
    margin-bottom: 1em;
    margin: 0 auto;
}

.aboutus h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.aboutus p {
    margin-top: 20px;
    font-size: 16px;
    color: #222;
    margin-left: 12px;
    padding-bottom: 1em;
}

.about img {
    width: 97.5%;
    height: 100%;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 1em;
}

.services h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
    margin-bottom: 15px;

}

.digital {
    background-color: #ffe6ac;
    margin-bottom: 1em;

}

.digital img {
    width: 100%;
}

.video {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.web {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.print {
    background-color: #ffe6ac;
    margin-bottom: 1em;
    width: 100%;
}

.print img {
    width: 100%;
}

.ourvision h3 {
    font-size: 2.5em;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    margin-left: 12px;
    padding-top: 1em;
}

.ourvision p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    margin-left: 12px;
    margin-right: 10px;
}

.ourvisionbtn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 18px 28px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.ourvision {
    background-image: url(../images/vision.jpg);
}

.team h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
    margin-bottom: 15px;
}

.john img,
.bob img {
    max-width: 100%;
    height: auto;
}

.johndoe h3,
.bobrite h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.johndoe h4,
.bobrite h4 {
    margin-top: 5px;
    color: #222;
    font-size: 20px;
    margin-left: 12px;
}

.johndoe p,
.bobrite p {
    margin-top: 5px;
    color: #222;
    font-size: 16px;
    margin-left: 12px;
    padding-bottom: 1em;
    margin-right: 10px;
}

.john img {
    width: 100%;
}

.bob img {
    width: 100%;
}

.john {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.bob {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.contact h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact h1 {
    margin-top: 30px;
    color: #222;
    font-size: 3em;
}

form label {
    display: block;
}

form input,
form text area {
    width: 95%;
    margin-bottom: 30px;
    display: inline-block;
    padding: 15px;
}

.contact label {
    margin-bottom: 10px;
}

.contact button {
    padding: 1em;
    color: #c78c06;
    background-color: #222;
    margin-top: 20px;
}

.hours h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.hours table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hours thead {
    background-color: #ffe6ac;
}

.hours th,
td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}

.hours tbody {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}

.hours td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}

.location h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/*****Location******/

.location iframe {
    width: 100%;
}

/*****Footer*******/

.copy {
    margin-bottom: 1em;
    padding-left: 1em;
}

.site-footer {
    color: #c78c06;
    background-color: #222;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: -1em;
    padding-right: -5em;
    width: 100%;
}

/*********************
    Desktop Styles
***********************/


@media screen and (min-width: 760px) {

    .container {
        padding: 20px;
    }


    /*********Navigation*********/
    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list li {
        padding: 1em;
    }

    .nav-list img {
        margin-right: 1em;
        margin-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .main-head {
        padding-top: 2em;
    }


    .form {
        padding: 10px;
        align-items: center;
        display: flex;
    }

    .form input {
        width: auto;

    }

    .form button {
        width: auto;

    }

    .home h1 {
        font-size: 8em;
        padding-top: 4em;
    }

    .homestar {
        margin-bottom: 2em;
    }

    /******TEAM********/

    .team {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .john {
        display: flex;
        align-items: center;
        padding: 20px;
    }


    .johninfo {
        flex: 1;
        order: 1;
        text-align: justify;
        margin-bottom: 10em;
        margin-left: -0.5em;
    }

    .johndoe img {
        width: 100%;
        margin: -1.2em;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .johninfo h3 {
        font-size: 2.5em;
        padding-bottom: 0.2em;
    }

    .johninfo h4 {
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }

    .bob {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-bottom: -8em;
        padding-top: -6em;
    }

    .bobinfo {
        flex: -1;
        order: -1;
        text-align: justify;
        margin-bottom: 10em;
        margin-left: -1em;
        margin-right: -8em;
    }

    .bobrite img {
        width: 105em;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: -2em;
        padding-left: 2em;

    }

    .bobinfo h3 {
        font-size: 2.5em;
        padding-bottom: 0.2em;
    }

    .bobinfo h4 {
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }

    .bobinfo p {
        padding-right: 4em;
    }







    /******Contact, hours, anmd location********/
    .grid-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 120px);
        gap: 25em 1.5em;
        grid-template-areas:
            "header main"
            "footer footer"
    }

    .contact {
        grid-area: header;
        padding: 20px;
        margin-bottom: 20px;
    }

    .hours {
        grid-area: footer;
        padding: 20px;
        margin-bottom: 50em;
    }

    .location {
        grid-area: main;
        padding-bottom: 20px;
    }

    .site-footer {
        margin-top: 10em;
    }
}