

/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    margin: 0 auto;
}

/**********
Mobile Styles
************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/************ Header *************/
.main-head {
    margin: 0 auto;
    background-color: #222;
    max-width: 1200px;
    
}

.nav-list {
    text-align: center;
    font-size: larger;
}

.nav-list li {
    margin: 50px;
}

.main-nav a {
    text-decoration: none;
    color: #c78c06;
}

.form {
    text-align: center;
    padding: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

form h1 {
    font-size: 3em;
}

.form button {
    color: #c78c06;
    border-color: #c78c06;
    background-color: #222;
    padding: 15px 20px;
}

.form input {
    padding: 15px 20px;
    width: 500px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 18px 28px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.home {
    background-image: url(../images/main-banner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10em;
}

.home h1 {
    font-size: 6em;
    color: white;
    padding-top: 2em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
}

.home p {
    font-size: 16px;
    color: white;
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    padding-left: 1em;
}

.digital h3,
.marketing h3,
.video h3,
.web h3,
.print h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.digital p,
.marketing p,
.video p,
.web p,
.print p {
    margin-top: 20px;
    font-size: 16px;
    color: #222;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
}



.about {
    max-width: 1200px;
    background-color: #ffe6ac;
    margin-bottom: 1em;
    margin: 0 auto;
}

.aboutus h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.aboutus p {
    margin-top: 20px;
    font-size: 16px;
    color: #222;
    margin-left: 12px;
    padding-bottom: 1em;
}

.about img {
    width: 100%;
    height: auto;
}

.services h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
    margin-bottom: 15px;

}
.digital {
    background-color: #ffe6ac;
    margin-bottom: 1em;

}

.digital img {
    width: 100%;
}

.video {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.web {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.print {
    background-color: #ffe6ac;
    margin-bottom: 1em;
    width: 100%;
}

.print img {
    width: 100%;
}

.ourvision h3 {
    font-size: 2.5em;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    margin-left: 12px;
}

.ourvision p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    margin-left: 12px;
    margin-right: 10px;
}

.ourvision {
    background-image: url(../images/vision.jpg);
}

.team h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
    margin-bottom: 15px;
}

.john img, .bob img {
    max-width: 100%;
    height: auto;
}

.johndoe h3, .bobrite h3{
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.johndoe h4, .bobrite h4 {
    margin-top: 5px;
    color: #222;
    font-size: 20px;
    margin-left: 12px;
}

.johndoe p, .bobrite p {
    margin-top: 5px;
    color: #222;
    font-size: 16px;
    margin-left: 12px;
    padding-bottom: 1em;
    margin-right: 10px;
}

.john img {
    width: 100%;
}

.bob img {
    width: 100%;
}

.john {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

.bob {
    background-color: #ffe6ac;
    margin-bottom: 1em;
}

form label {
    display: block;
}

form input,
form text area {
    width: 90%;
    margin-bottom: 30px;
    display: inline-block;
    padding: 15px;
}

form button {
    padding: 2em;
}

.hours h3 {
    margin-top: 30px;
    color: #222;
    font-size: 2.5em;
    margin-left: 12px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.hours thead {
    background-color: #ffe6ac;
}

.hours th, td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}

.hours tbody {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}

.hours td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}